*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 900px;
    
}
.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1,1,1,0.1); 
    border-radius: 10px;
}
body{
    background-color: grey;
}
.smale{
    font-size: 20px;
}
.form_container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form_control{
    display: flex;
flex-direction: column;}
label{
    font-size: 15px;
    margin-bottom: 15px;
}
input,select,textarea{
    padding: 6px 10px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 15px;
}
input:focus{
    outline-color:red ;
}
.buttun_container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
button{
    background-color: red;
    border: transparent solid 2px;
    padding:  5px 10px ;
    color: white;
    border-radius: 2px;
}
button:hover{
    background-color: #ccc;
border: 2px solid #red;
}